<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Ukázka AngularJS</title>
    <style>
        .alternative {
            color: red;
        }
        .panel {
            border: 1px solid #ccc;
            padding: 5px;
            margin-bottom: 4px;
        }
    </style>
</head>
<body ng-app="app">
    <div ng-controller="MainController as main">
        <h1>Pokémon</h1>
        <greetings></greetings>
        <input ng-model="search.name" type="text"/>
        <ul>
            <li ng-repeat="pokemon in main.pokemons | filter:search | orderBy:'id' | limitTo:10">
                <panel>
                    {{$index + 1}}.
                    <poke-detail pokemon="pokemon" emphasize-class="alternative"></poke-detail>
                </panel>
            </li>
        </ul>
        <input type="text" ng-model="main.newPokemon.name" placeholder="Pikachu">
        <input type="number" ng-model="main.newPokemon.id" placeholder="2">
        <button ng-click="main.addNewPokemon()">Přidat</button>
    </div>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/main-controller.js"></script>
    <script src="scripts/greeetings-directive.js"></script>
    <script src="scripts/poke-detail-directive.js"></script>
    <script src="scripts/panel-directive.js"></script>
    <script src="scripts/pokedex-service.js"></script>
    <script src="scripts/poke-api-service.js"></script>
</body>
</html>