<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <style>
    .alt {
      color: coral;
    }

    .border {
      border: solid 3px cadetblue;
    }

    .space {
      padding: 20px;
    }

    [ng-cloak] {
      display: none;
    }
  </style>
</head>
<body>
<div ng-cloak
     ng-app="pokedex"
     ng-controller="MainController as main"
>
  <h1>{{ 3 + 1 }}</h1>

  <input type="text"
         ng-show="main.pokedex.length"
         ng-model="main.newName"
  >

  <button type="submit"
          ng-click="main.addPokemon()"
  >Přidat
  </button>

  <div>
    <input type="text"
           ng-model="search.name"
           placeholder="Hledej"
    >
  </div>

  <div ng-hide="main.pokedex.length">Načítám…</div>
  <poke-list ng-show="main.pokedex.length">

    <ul>
      <li data-ng-repeat="pokemon in main.pokedex
  | orderBy:'id' | filter:search | limitTo:5">
        <poke-detail
            data="pokemon"
            alterative="$odd"
            prefix="Pokemon:"
        >
        </poke-detail>
      </li>
    </ul>

  </poke-list>
</div>

<script src="../angular-1.5.5/angular.js"></script>
<script src="app.js"></script>
<script src="main.controller.js"></script>
<script src="pokemon.directive.js"></script>
<script src="poke-list.directive.js"></script>
<script src="pokedex.service.js"></script>
<script src="mojeapi/pokeapi.service.js"></script>

</body>
</html>